<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 MDC_NCN, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magento_Brand">
        <sequence>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>
